html{
    background-color: #F6EEED;
    color: brown;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 600px;
    margin: 0 auto;
    padding: 0 30px 30px 30px;
}

h2{
    margin: 0;
    padding: 20px 0; /* to set h1's location, must set margin:0 first!*/
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: 0 auto;
}

p, a{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
}